<header>
  <div class="container">
    <span class="header_logo"><b>Cyber</b>Security</span>
    <nav>
      <ul>
        <li><a href="#">Products</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Industires</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <nav class="social">
      <a href="">
        <img src="../../../../assets/icons/twitter.svg" alt="logo do twitter">
      </a>
      <a href="">
        <img src="../../../../assets/icons/linkedin.svg" alt="logo do linkedin">
      </a>
      <a href="">
        <img src="../../../../assets/icons/instagram.svg" alt="logo do instagram">
      </a>
      <a href="">
        <img src="../../../../assets/icons/facebook.svg" alt="logo do facebook">
      </a>
    </nav>
  </div>
</header>