@import "~bootstrap/dist/css/bootstrap.css";



.navbar {
  box-shadow: var(--light_shadow);
  min-height: 10rem;
  min-width: 100%;
}

.navbar-brand {
  font-size: 3.5rem;
}

.navbar-brand b {
  color: var(--red);
}

.social img {
  width: 4rem;
  padding: 0.8rem;
  border: 1px solid var(--red);
  border-radius: 50%;
}

.social {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.social img:hover {
  box-shadow: var(--light_shadow);
}

.navbar-toggler {
  color: #fff;
}

.navbar-toggler {
  cursor: pointer;
  height: 4rem;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.nav-item {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.nav-item:hover {
  color: var(--red);
}

.navbar-social nav {
  display: flex;
  gap: 3rem;
}

@media (max-width: 340px) {
  .navbar-brand {
    font-size: 1.6rem;
  }

  .navbar-social nav {
    gap: 1rem;
  }


}