<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>Cyber</b>Security</a>
      <img class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation" src="../../../../assets/icons/icons8-menu-circulado-48.png"
        alt="">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Industries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <div class="navbar-social">
          <nav class="social">
            <a href="">
              <img src="../../../../assets/icons/twitter.svg" alt="logo do twitter">
            </a>
            <a href="">
              <img src="../../../../assets/icons/linkedin.svg" alt="logo do linkedin">
            </a>
            <a href="">
              <img src="../../../../assets/icons/instagram.svg" alt="logo do instagram">
            </a>
            <a href="">
              <img src="../../../../assets/icons/facebook.svg" alt="logo do facebook">
            </a>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</header>