main {
  max-width: 180rem;
  position: relative;
  margin: 15rem auto auto auto;

}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15rem;
  background-image: url('../../../../assets/images/lines1.png');
  background-position: center;
  background-repeat: no-repeat;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.logo {
  font-size: 12rem;

}



.main_txt span {
  font-size: 1.8rem;
  max-width: 90rem;
  text-align: center;
}

.main_txt nav {
  margin-top: 4rem;
  display: flex;
}


.buyNow {
  padding: 2rem 1.5rem;
  background-color: var(--red);
  border-radius: 1.5rem;
  color: #fff;
  box-shadow: var(--dark_shadow);
  font-size: 2.5rem;

}

.buyNow:hover {
  box-shadow: var(--light_shadow);
}

.background_bottom {
  background-image: url('../../../../assets/images/lines.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

}


@media (max-width: 980px) {
  .main_txt .logo {
    font-size: 10rem;
  }

  .main_txt span {
    max-width: 70rem;
  }
}

@media (max-width: 768px) {
  .main_txt .logo {
    font-size: 5rem;
  }

  .main_txt span {
    max-width: 50rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 544px) {
  main {
    margin: 10rem auto auto auto;

  }

  .box {
    gap: 10rem;
  }

  .main_txt .logo {
    font-size: 4rem;
  }

  .main_txt span {
    max-width: 45rem;
  }
}