<div class="box ">

  <main>
    <div class="container element-main">
      <div class="main_txt">
        <h1 class="logo">Cyber Security Services</h1>
        <span>Cyber Security Services is a U.S based cybersecurity company delivering services and managing cyber risk
          on behalf of our valued distribuition and technology partners.</span>
        <nav>
          <app-button [url]="'price'" [label]="'Get Started'" />
        </nav>

      </div>
    </div>
  </main>
  <section>
    <app-section1 />
  </section>

  <section>
    <app-section2 />
  </section>

</div>

<section class="background_bottom">
  <app-section3 />
  <app-section4 />
</section>