<div class="container element-section3">
  <div class="col_1">
    <h4>inprove your security posture</h4>
    <div class="group" *ngFor="let item of boxs">
      <img src="../../../../../assets/icons/check.png" alt="imagem de um quadrado com um sinal de correto no meio">
      <span>{{item.title}}</span>
    </div>
  </div>
  <div class="col_2">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem numquam distinctio repellat nemo neque rem
      repellendus cum provident eum suscipit.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem numquam
      distinctio repellat nemo neque rem repellendus cum provident eum suscipit.</p>
    <img src="../../../../../assets/icons/pc.svg" alt="imagem de um cadeado">
  </div>
</div>

<div class="container2 element-section3-1">
  <div class="image_container">
    <img src="../../../../../assets/icons/shield.svg" alt="">

  </div>
  <div class="container2_content">
    <h4>What is Cyber Security?</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus libero tempora voluptate praesentium accusantium
      tenetur asperiores aperiam natus. Harum, perferendisLorem ipsum, dolor sit amet consectetur adipisicing elit.
      Minus libero tempora voluptate praesentium accusantium
      tenetur asperiores aperiam natus. Harum, perferendis.
    </p>
    <div class="group2" *ngFor="let item of boxs2">
      <img src="../../../../../assets/icons/check.png" alt="imagem de um quadrado com um sinal de correto no meio">
      <span>{{item.title}}</span>
    </div>
    <nav>
      <a class="readMore" href="#">Read More</a>
    </nav>

  </div>
</div>