.container {
  max-width: 150rem;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
}

.col_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50rem;
}

.group {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.group span {
  font-size: 2rem;
  color: var(--text);
}

.col_1 h4 {
  max-width: 50rem;
  font-size: 4rem;
}

.col_1 img {
  width: 4rem;
}

.col_2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.col_2 img {
  width: 60rem;
  opacity: 0.7;
}

.col_2 p {
  max-width: 80rem;
}

.container2 {
  max-width: 150rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.container2 img {
  width: 60rem;
}

.group2 {
  display: flex;
  gap: 2rem;

}

.group2 img {
  width: 3rem;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.container2_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

}

.container2_content h4 {
  font-size: 4rem;
}

.container2_content p {
  max-width: 70rem;
}

.readMore {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  border: 3px solid var(--red);
  color: #fff;
}

@media (max-width: 1550px) {
  .container {
    margin: 10rem 2rem;
  }

  .container2 {
    margin: auto 2rem;
  }

  .container2_content {
    gap: 5rem;
  }

  .image_container img {
    width: 50rem;
  }

  .col_2 img {
    width: 50rem;
  }

}

@media (max-width: 1090px) {
  .container2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .container2 h4 {
    text-align: center;
  }

  .container2_content {
    order: -1;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image_container {
    margin-top: 5rem;
  }



}

@media (max-width: 1000px) {
  .container h4 {
    font-size: 3rem;
    max-width: 35rem;
  }

  .group {
    gap: 1rem;
  }

  .group span {
    font-size: 1.8rem;
    max-width: 30rem;
  }

  .group img {
    width: 3rem;
  }

  .col_2 p {
    max-width: 50rem;
  }

  .col_2 img {
    width: 40rem;
  }

  .image_container img {
    width: 50rem;
  }

}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container h4 {
    max-width: 100%;
    font-size: 4rem;
  }

  .group span {
    font-size: 2rem;
    max-width: 100%;
  }

  .col_2 p {
    font-size: 2rem;
    max-width: 100%;
    text-align: center;
  }

  .col_1 {
    margin-bottom: 10rem;
    gap: 3rem;
  }

  .col_2 img {
    width: 100%;
  }
}


@media (max-width: 560px) {

  .container2_content {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  .col_2 p {
    font-size: 1.4rem;
  }

  .group2 img {
    height: 3rem;
    width: 3rem;

  }

  .image_container img {
    display: none;
  }
}