<div class="page2">


  <div class="box">

    <main>
      <div class="container">



        <div class="main_content element-main">

          <div class="main_txt">
            <h1>Your Trusted Guardian</h1>
            <div class="custom-shape-divider-bottom-1693565078">
              <img src="../../../../assets/page2_assets/Layer Blur.svg" alt="">
            </div>

            <div class="main_btn">
              <a class="prices" (click)="scrollToSection('price')">View Prices</a>
              <a class="learMore" (click)="scrollToSection('more')">Learn More</a>
            </div>
          </div>
        </div>
      </div>

    </main>

  </div>




</div>
<app-section1 />
<app-section2 />
<app-section3 />