<footer>
  <div class="container">
    <div class="col1 coll">
      <span>CyberSecurity</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col2 coll">
      <span>About Us</span>
      <nav>
        <ul>
          <a href="">About us</a>
          <a href="">Contact</a>
          <a href="">Review us</a>
        </ul>
      </nav>
    </div>
    <div class="col3 coll">
      <span>Contact Us</span>
      <nav>
        <ul>
          <a href="">Adress: Floripa, Brazil</a>
          <a href="">Email: lorem@gmail.com</a>
          <a href="">Phone: +55 01010101</a>
        </ul>
      </nav>
    </div>
    <div class="col4 coll">
      <span>Follow Us</span>
      <nav>
        <ul>
          <a href="">Facebook</a>
          <a href="">Twitter</a>
          <a href="">LinkedIn</a>
        </ul>
      </nav>
    </div>
    <div class="col5 coll">
      <nav>
        <ul>
          <a class="link_group" href="">
            <img src="../../../../assets/icons/google.svg" alt="icone do google">
            <span>Google Play</span>
          </a>
          <a class="link_group" href="">
            <img src="../../../../assets/icons/apple.svg" alt="icone da apple">
            <span>App Store</span>
          </a>
        </ul>
      </nav>
    </div>

  </div>
</footer>