.container {
  max-width: 100%;
  display: flex;
  align-items: center;

  justify-content: center;
  box-shadow: var(--light_shadow);
  flex-wrap: wrap;
  gap: 3rem;
}


.coll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: flex-start;
  margin: 2rem auto;
}

.col1 {
  width: 20rem;
}


.container nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container span {
  font-size: 2.5rem;
}

.container nav ul a {
  color: var(--text);
  font-size: 1.8rem;
}

.container nav ul a:hover {
  color: #ffff;
}

.link_group {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ffff;
  padding: 1rem;
}

@media (max-width: 380px) {
  .coll {
    align-items: center;
    text-align: center;
  }
}